<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346282443346-s4bte59d2eekvtqclrb8ecaaqehgve42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346282443346-s4bte59d2eekvtqclrb8ecaaqehgve42</string>
	<key>API_KEY</key>
	<string>AIzaSyCErhuUN50BjEODDmItjMxWsmrvICJGiLM</string>
	<key>GCM_SENDER_ID</key>
	<string>346282443346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authlogin</string>
	<key>PROJECT_ID</key>
	<string>authlogin-33dea</string>
	<key>STORAGE_BUCKET</key>
	<string>authlogin-33dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346282443346:ios:333551fa0a391d8a01558b</string>
</dict>
</plist>